# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# Tooling
.pytest_cache/
.mypy_cache/
.vscode/
